<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <title>揪團啦~!</title>
</head>

<body>
  <div class="container" id="app">
    <div class="row">
      <div class="col mx-2">
        <div class="card my-1">
          <div class="card-body">
            <div class="row mb-2 align-items-center">
              <div v-if="isLineLogined === true" class="col-md-3 col-12 text-center">
                <img :src="profile.pictureUrl" width="128px" height="128px"class="mx-1" style="border-radius:100%">
                <div class="h5">{{profile.displayName}}</div>
              </div>
              <div v-else class="col-md-3 col-12 d-flex flex-column  align-items-center">
                <img src="#" width="128px" height="128px" class="mr-3" style="border-radius:100%">
                <div class="h5">尚未登入</div>
              </div>
              <div class="col-md-9 col-12">
                <div class="border" style="border-radius: 5px;">
                  <form action="">
                    <!-- goods-->
                    <div class="form-row mx-sm-2 mx-1 mt-2" v-for="(good,index) in current_record.goods" :key="index">
                      <div class="col-md">
                        <div class="form-group">
                          <label for="item_name">品項</label>
                          <input class="form-control" type="text" id="item_name" placeholder="請輸入品名"
                            v-model=good.item_name>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="sweeting_level">甜度</label>
                          <select class="form-control" type="text" id="sweeting_level" v-model="good.sweetness_level">
                            <option value="正常" selected>正常</option>
                            <option value="少糖">少糖</option>
                            <option value="半糖">半糖</option>
                            <option value="微糖">微糖</option>
                            <option value="無糖">無糖</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="amount_of_icd">冰量</label>
                          <select class="form-control" type="text" id="amount_of_icd" v-model="good.amount_of_ice">
                            <option value="正常" selected>正常</option>
                            <option value="少冰">少冰</option>
                            <option value="去冰">去冰</option>
                            <option value="微冰">微冰</option>
                            <option value="去冰">去冰</option>
                            <option value="完全去冰">完全去冰</option>
                            <option value="熱的">熱的</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-group">
                          <label for="number">數量</label>
                          <select class="form-control" type="number" id="number" v-model="good.number">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex align-items-center">
                        <button type="button" class="btn btn-outline-danger mt-md-3 mb-3 mb-md-0 btn-block"
                          @click="destory_good(good)">移除</button>
                      </div>
                    </div>
                    <!--end goods-->

                    <div class="d-flex ">
                      <button type="button" class="btn btn-outline-success btn-sm mx-2"
                        @click="create_new_good">新增一個新的品項</button>
                    </div>
                    <div class="d-flex justify-content-center my-2">
                      <button type="reset" class="btn btn-outline-danger mx-2">清除</button>
                      <button type="button" class="btn btn-success mx-2" data-toggle="modal"
                        data-target="#submintModal">送出</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
            <!-- test vue -->
            <div class="row mb-2 align-items-center" v-for="(record, index) in show_records" :key="index">
              <div class="col-md-3 col-12 d-flex flex-column  align-items-center">
                <img :src="record.user_profile.photo_url" width="128px" height="128px"class="mx-1" style="border-radius:100%">
                <div class="h5">{{record.user_profile.display_name}}</div>
              </div>
              <div class="col-md-9 col-12">
                <div class="" style="border-radius: 5px;">
                  <div class="card">
                    <div class="card-body">
                      <div class="row align-items-center flex-column">
                        <div class="col">
                          <ul class="mb-0" v-for="(good, sub_index) in record.goods" :key="sub_index">
                            <li>{{good.item_name}} {{good.sweetness_level}} {{good.amount_of_ice}} * {{good.number}}
                            </li>
                          </ul>
                        </div>
                        <div class="col mt-2 text-center">
                          <button type=button class="btn btn-outline-primary btn-sm-block"
                            @click="same_as(record.goods)">跟{{record.user_profile.display_name}}一樣</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <i v-if="context === null" class="fab fa-line text-success"></i>
              <span v-else>context: {{ context }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Modal -->
    <div class="modal fade" id="submintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">再一次確認</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            要加入揪團了嗎? 還有沒有想點還沒點到的呢~?
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center flex-column">
                  <div class="col">
                    <ul class="mb-0" v-for="(good, sub_index) in current_record.goods" :key="sub_index">
                      <li>{{good.item_name}} {{good.sweetness_level}} {{good.amount_of_ice}} * {{good.number}}
                        ({{good.comment}})</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">再想一下</button>
            <button type="button" class="btn btn-success" @click="send_order">確認加入揪團</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- liff -->
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  -->
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          records: null,
          current_record: { goods: [] },
          context: null,
          profile: null,
          isLineLogined: false,
          apiUrl: "https://" + window.location.hostname + "/api/v1/",
        },
        beforeCreate: function () {
        },
        mounted: function () {
          let vm = this
          liff.init({ liffId: "1602541695-bYKBPBe6" }).then(
            function () {
              if (!liff.isLoggedIn()) {
                liff.login()
              } else {
                vm.isLineLogined = true
              }
            }
          ).then(
            function () {
              liff.getProfile().then(function (profile) {
                vm.profile = profile
              })
            }
          ).then(function () {
            vm.context = liff.getContext()
          }).then(function () {
            //let gid=vm.context.groupId
            //let uid=vm.profile.userId
            let gid = "test"
            let url = vm.apiUrl + gid + "/orders"
            axios.get(url).then(function (resp) {
              vm.records = vm.obj_to_map(resp.data)
              console.log(vm.records)
            })
          }).catch(function (error) {
            console.log('Error: ' + error)
          })
        },
        computed: {
          show_records: function () {
            let list = [];
            let vm = this
            if (vm.records !== null) {
              vm.records.forEach(function (value, key) {
                if (key !== vm.profile.userId) {
                  list.push(value)
                } else {
                  vm.current_record = value
                }
              })
            }
            return list;
          },
        },
        methods: {
          create_new_good: function () {
            console.log("create_new_good")
            var new_id = Math.floor(Date.now())
            this.current_record.goods.push({
              id: new_id,
              item_name: "",
              sweetness_level: "正常",
              amount_of_ice: "正常",
              number: "1",
              comment: ""
            })
          },
          destory_good: function (good) {
            var index = this.current_record.goods.findIndex(function (_good) {
              return good.id == _good.id
            })
            this.current_record.goods.splice(index, 1)
          },
          send_order: function () {
            let vm = this
            //let gid=vm.context.groupId
            let uid = vm.profile.userId
            let gid = "test"
            let url = vm.apiUrl + gid + "/order/" + uid
            axios.delete(url).then(function () {
              axios.post(url, {
                "user_profile": {
                  "display_name": vm.profile.displayName,
                  "photo_url": vm.profile.pictureUrl
                },
                "goods": vm.current_record.goods,
                "comment": vm.current_record.comment,
              })
            }).then(function () {
              if (vm.context !== null) {
                let goods = ""
                vm.current_record.goods.forEach(function (value, index) {
                  goods += "\n •" + value.item_name + " " + value.sweetness_level + " " + value.amount_of_ice + "*" + value.number + "(" + value.comment + ")\n"
                })
                liff.sendMessages([
                  {
                    type: 'text',
                    text: "[我要]" + goods,
                  }
                ])
                  .then(() => {
                    liff.closeWindow();
                  })
                  .catch((err) => {
                    console.log('error', err);
                  });
              }
            }).then(function () {
              $('#submintModal').modal('hide')
            }).catch(function (error) {
              console.log('error', err);
            })
          },
          obj_to_map: function (obj) {
            const mp = new Map;
            Object.keys(obj).forEach(k => { mp.set(k, obj[k]) });
            return mp;
          },
          same_as: function (goods) {
            console.log(this.current_record.goods)
            console.log(goods)
            this.current_record.goods = goods
          }
        }
      })
    </script>
  </div>
</body>

</html>